.has-grid-layout {
	display: grid;
	grid-gap: 1rem;
	padding: 1rem;
	margin: 0 15%;
	grid-template-columns: repeat(auto-fill, 1em);
}

.has-color-icon {
	color: hsl(200, 80%, 30%);
}

.is-size-large {
	font-size: 2rem;
}
